{% extends 'main/base.html' %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>

<form class="card-body" method="POST" action="">
    {% csrf_token %}

    <label>{{form.username.label}}</label>
    {{form.username}}
    <label>{{form.password1.label}}</label>
    {{form.password1}}
    <label>{{form.password2.label}}</label>
    {{form.password2}}

    <input style="margin-top: 15px;" class="button" type="submit" value="Register">
    <br>
    <p>Have an account? <a id="inline-link" href="{% url 'login' %}">Login</a></p>
</form>

{% endblock content %}